.page-title {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.table-container {
  display: flex;
  flex-direction: column;
  max-height: 75vh;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table {
  overflow: auto;
}

// fixed table header
.mat-header-row {
  position: sticky;
  top: 0;
  background-color: inherit;
  z-index: 10;
}

// horizontal scroll
.mat-row, .mat-header-row {
  min-width: 1200px;
}

.mat-column-id,
.mat-column-action {
  max-width: 64px;
}

.mat-column-image_uri {
  max-width: 80px;
}

.mat-column-product_name {
  max-width: 400px;
}

.mat-column-model_number {
  max-width: 150px;
}

.mat-column-public_stock,
.mat-column-min_lot,
.mat-column-min_stock,
.mat-column-order_unit {
  max-width: 92px;
}

.product-image {
  height: 40px;
  width: auto;
  vertical-align: middle;
}
