<h1 class="page-title">商品一覧</h1>
<div class="table-container" *ngIf="(page$ | async) as page">
  <div class="example-header">
    <mat-form-field>
      <input matInput [formControl]="searchQuery" placeholder="検索">
    </mat-form-field>
  </div>
  <mat-table #table class="table" matSort matSortDisableClear
    [dataSource]="(products$ | async)"
    [matSortActive]="page.sort"
    [matSortDirection]="page.direction"
    (matSortChange)="onSortChange()">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="image_uri">
      <mat-header-cell *matHeaderCellDef>商品画像</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <!-- TODO: abstract to "product-image" component -->
        <img *ngIf="row.image_uri" class="product-image" src="https://s3-ap-northeast-1.amazonaws.com/{{ row.image_uri }}">
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="product_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>商品名</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.product_name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="model_number">
      <mat-header-cell *matHeaderCellDef mat-sort-header>型番</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.model_number }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="public_stock">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ショップ在庫</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.public_stock }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="min_lot">
      <mat-header-cell *matHeaderCellDef mat-sort-header>最低ロット</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.min_lot }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="min_stock">
      <mat-header-cell *matHeaderCellDef mat-sort-header>最低在庫</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.min_stock }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="order_unit">
      <mat-header-cell *matHeaderCellDef mat-sort-header>発注単位</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.order_unit }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>アクション</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>編集</button>
          <button mat-menu-item>削除</button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [length]="page.total"
                 [pageIndex]="(page.offset / page.limit)"
                 [pageSize]="page.limit"
                 (page)="onPageChange()">
  </mat-paginator>
</div>
