.table-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  // min-width: 300px;
  // position: relative;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table {
  overflow: auto;
}

.mat-header-row {
  position: sticky;
  top: 0;
  background-color: inherit;
  z-index: 10;
}

.mat-column-id {
  max-width: 64px;
}

.mat-column-public-stock {
  max-width: 74px;
}
