<h1>Product List</h1>

<div class="table-container">
  <mat-table #table [dataSource]="(products$ | async)" class="table" matSort matSortActive="id" matSortDisableClear
    matSortDirection="desc">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="product-name">
      <mat-header-cell *matHeaderCellDef>商品名</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.product_name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="model-number">
      <mat-header-cell *matHeaderCellDef>型番</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.model_number }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef>価格</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.price }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="public-stock">
      <mat-header-cell *matHeaderCellDef>ショップ在庫</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.public_stock }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [length]="(page$ | async)?.total" [pageSize]="50">
  </mat-paginator>
</div>
