$tropical-blue:  #c7e7f7;
$cyan:           #3cc;
$cyan-bright:    #0ff;
$magenta:        #c69;
$magenta-bright: #f09;
$white:          #fff;
$gray-dark:      #555;
$gray:           #adadad;
$gray-light:     #efefef;
$gray-lighter:   #fafafa;
$black:          #000;

$text-color: #374767;
$text-muted: #777;
$sidebar-bg: #384042;
$sidebar-width: 220px;
